<div class="row">
  <div class="con-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12">
    <h2>Ingredients</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ingredient.amount}}{{ingredient.unit}})
      </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <div ngbDropdown>
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a ngbDropdownItem (click)="toShoppingList()" style="cursor: pointer;">To Shopping List</a>
        <a ngbDropdownItem [routerLink]="['edit']">Edit Recipe</a>
        <a ngbDropdownItem>Delete Recipe</a>
      </div>
    </div>
  </div>
</div>