<div class="container mt-4">
  <form autocomplete="off" class="d-flex justify-content-between align-items-center" [formGroup]="addIngredientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ingredientName">Ingredient</label>
      <input type="text" class="form-control" id="ingredientName" formControlName="name">
      <span class="form-text text-danger" *ngIf="!addIngredientForm.get('name').valid && addIngredientForm.get('name').touched; else nameErrorText">Invalid Ingredient</span>
      <ng-template #nameErrorText>
        <span class="form-text" >&nbsp;</span>
      </ng-template>
    </div>
    <div class="form-group ml-3">
      <label for="ingredientAmount">Amount</label>
      <input type="number" class="form-control" id="ingredientAmount" formControlName="amount">
      <span class="form-text text-danger" *ngIf="!addIngredientForm.get('amount').valid && addIngredientForm.get('amount').touched; else amountErrorText">Invalid Amount</span>
      <ng-template #amountErrorText>
        <div class="form-text">&nbsp;</div>
      </ng-template>
    </div>
    <div class="form-group ml-3">
      <label for="ingredientUnit">Unit</label>
      <input type="text" class="form-control" id="ingredientUnit" formControlName="unit">
      <div class="form-text">&nbsp;</div>
    </div>
    <div class="form-group ml-3">
      <button type="submit" class="btn btn-primary" [textContent]="mode" [disabled]="addIngredientForm.invalid"></button>
    </div>
  </form>
</div>