<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="form-group col-xs-8">
          <label for="ingredientInput">Ingredient</label>
          <input type="text" class="form-control" id="ingredientInput" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-xs-2">
          <label for="ingredientAmount">Amount</label>
          <input type="number" class="form-control" id="ingredientAmount">
        </div>
        <div class="form-group col-xs-2">
          <label for="ingredientUnit">Unit</label>
          <input type="text" class="form-control" id="ingredientUnit">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
