<div class="container">
  <form autocomplete="off" class="form-inline">
    <div class="form-group ml-3">
      <label for="ingredientInput">Ingredient</label>
      <input type="text" class="form-control ml-2" id="ingredientInput" #nameInput>
    </div>
    <div class="form-group ml-3">
      <label for="ingredientAmount">Amount</label>
      <input type="number" class="form-control ml-2" id="ingredientAmount" #amountInput>
    </div>
    <div class="form-group ml-3">
      <label for="ingredientUnit">Unit</label>
      <input type="text" class="form-control ml-2" id="ingredientUnit" #unitInput>
    </div>
    <button type="submit" class="btn btn-primary ml-2" (click)="addIngredient(nameInput, amountInput, unitInput)">
      Add
    </button>
  </form>
</div>